* {
    margin: 0;
    padding: 0;
}

#contentWrapper {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-color: antiquewhite;
}

#contentWrapper > #content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    font-size: 5rem;
    font-weight: bold;
}